Temp
Rubbish
map/war3map.j
desktop.ini
.vscode/extensions.json
workspace.code-workspace
scripts/wenhooks.lua
scripts/lua/wenhooks.lua
src/logs
src/backups
__pycache__/
backups/
logs/
build/settings.py
